body {
    background-image: url("UCL.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.letras-con-borde {
    color: rgb(255, 251, 0); /* Color de relleno de las letras (blanco) */
    font-size: 24px; /* Tamaño de fuente para que el efecto se vea bien */
    
    /* Propiedad para el borde (ancho y color) */
    -webkit-text-stroke-width: .5px; /* Ancho del borde (negro) */
    -webkit-text-stroke-color: rgb(184, 62, 255); /* Color del borde (negro) */

}